[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2021-02-10 12:09:13.895810
SecretStorage = 3.3.1
collective.recipe.vscode = 0.1.6
createcoverage = 1.5
cryptography = 3.4.4
jeepney = 0.6.0
keyring = 22.0.1
prompt-toolkit = 1.0.18
watchdog = 1.0.2

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.2.5

# Added by buildout at 2021-02-10 15:16:41.157941
eea.faceted.vocabularies = 6.9
eea.jquery = 11.2
plone.app.jquery = 1.11.2

# Required by:
# imio.events.core==1.0a1
eea.facetednavigation = 14.2
